parameters:
    level: 9
    
    paths:
        - cli
        - config
        - modules
        - src
        
    excludePaths:
        analyse:
        - vendor
        - mobile_app (?)
        - update (?)
        - graphify-out (?)
        - node_modules (?)
    ignoreErrors:
        - '#Constant OWNPAY_INIT not found.#'
        
    reportUnmatchedIgnoredErrors: false
