parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
        - mobile_app
        - cli
        - update
        - graphify-out
    ignoreErrors:
        - '#Constant OWNPAY_INIT not found.#'
    reportUnmatchedIgnoredErrors: false
