<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Service">
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite name="Middleware">
            <directory>tests/Middleware</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory>tests/Controller</directory>
        </testsuite>
        <testsuite name="Event">
            <directory>tests/Event</directory>
        </testsuite>
        <testsuite name="Plugin">
            <directory>tests/Plugin</directory>
        </testsuite>
        <testsuite name="Security">
            <directory>tests/Security</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_NAME" value="ownpay_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASS" value="root"/>
        <env name="DB_PREFIX" value="op_"/>
        <env name="APP_KEY" value="dGVzdF9hcHBfa2V5XzMyX2NoYXJhY3RlcnNfbWluaW11bV9sZW5ndGg="/>
        <env name="ENCRYPTION_KEY" value="dGVzdF9lbmNyeXB0aW9uX2tleV8zMl9jaGFyYWN0ZXJzX21pbg=="/>
        <env name="PII_ENCRYPTION_KEY" value="cd4c6edf857c4ad19cb41784e849adf79ec3fc20319c28e735bd3fbd801eca33"/>
        <env name="JWT_SECRET" value="a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"/>
        <env name="AUDIT_HMAC_SECRET" value="audit_hmac_secret_key_32_characters_minimum_length_required!"/>
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
